# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=a490af9a53a8a24f00e9c10452b64bde5d6e09bc82029121a703c2fc03c5616194ad777b291e3e3cb28b0e9ebf78101b167db4e6add32cdf2ff855e61c45e543
REDIS_URL=redis://localhost:6379/3
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
